<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableVIewFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6B144541D7293FC00E3E256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6B1446D1D7293FD00E3E256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6B144781D7293FD00E3E256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
