<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSLayoutConstraintDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B64ABE081D8141BE00C3956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B64ABE211D8141BE00C3956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B64ABE2C1D8141BE00C3956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
