<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoHeightTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6C502791D6D97EA0057B349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C502921D6D97EB0057B349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C5029D1D6D97EB0057B349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
